.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__header {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.App__header__title {
  background: linear-gradient( to left, #E3C2AF, #9B6C4E);
  width: 65%;
  margin: auto;
  border-top-left-radius: 4.5rem 10.5rem;
  border-top-right-radius: 1rem 3.5rem;
  padding: 0.5rem;
  text-align: center;
}
.App__header__introduction {
  background: linear-gradient( to left, #E3C2AF, #9B6C4E);
  width: 65%;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.1rem;
}


.App__article, .App__footer {
  background: linear-gradient( to left, #E3C2AF, #9B6C4E);
  width: 65%;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.App__footer {
  text-align: center;
}

.App__article__title {
  display: flex;
  align-items: center;
}