.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App__header__title {
  width: 70%;
  margin: auto;
  border-top: 0.2rem solid #DDBC95;
  border-left: 0.2rem solid #DDBC95;
  border-right: 0.2rem solid #DDBC95;
  border-top-left-radius: 8.5rem 10.5rem;
  border-top-right-radius: 8.5rem 10.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2.2rem;
}

.App__header__introduction {
  width: 70%;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-left: 0.2rem solid #DDBC95;
  border-right: 0.2rem solid #DDBC95;
  text-align: center;
  font-size: 1.2rem;
}

.App__article, .App__footer {
  width: 70%;
  margin: auto;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-left: 0.2rem solid #DDBC95;
  border-right: 0.2rem solid #DDBC95;
  text-align: justify;
}

.App__footer {
  text-align: center;
  border-bottom: 0.2rem solid #DDBC95;
  border-bottom-left-radius: 8.5rem 10.5rem;
  border-bottom-right-radius: 8.5rem 10.5rem;
  font-size: 1.4rem;
}

.App__article__title {
  display: flex;
  align-items: center;
}